body{
    margin: 0;
    font-family: Helvetica;
}
.banner, .stopka{
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
    
    width: 100%;
    clear:both;
}
.lewy1, .lewy2{
    background-color: #EFEFEF;
    width: 55%;
    float: left;
}
.lewy1{
    height: 150px;
}
.lewy2{
    height: 300px;
}
.prawy{
    background-color: #4FB3BF;
    width: 45%;
    height: 450px;
    text-align: center;
    float: left;
}
.obraz{
    filter: drop-shadow(10px 10px 7px DimGray);
    margin: 20px;
    
}

table, tr, th, td{
     border: solid 1px #4FB3BF;
}
table{
    margin: auto;
    width: 80%;
}
th, td{
    padding: 4px;
}
th:hover, td:hover{
    background-color: #4FB3BF;
}